/* absolute */
.row{
    height: 300px;
    width: 60%;
    /* border: 1px solid black; */
    background-color: gray;
    position: relative;
    margin-top: 10px;
    left: 20%;

}
.col{
    width: 170px;
    height: 250px;
    position: absolute;

}
.col-1{
    background-color: hotpink;
}
.col-2{
    background-color: blue;
    left: 23%;
}
.col-3{
    background-color: yellow;
    left: 46%;
}
.fixed{
    height: 100px;
    width: 100px;
    background-color: red;
    position: fixed;
    left: 80%;
}
.sticky{
    height: 100px;
    width: 100px;
    background-color: red;
    position: sticky;
    top: 5%;
}

